# Ignorar pycache 
__pycache__/

# Ignorar archivos de configuración de IDEs
.idea/

# Ignorar archivos de configuración de entornos virtuales
venv/

# Ignorar archivos de configuración de entornos virtuales
.venv/

# Ignorar archivos de configuración de entornos virtuales
.env/

# Ignorar archivos y carpetas de vscode
.vscode/

# Ignorar "image.png"
image.png/ 